{{ define "title" }}
  {{ .Site.Title }}/{{ .CurrentSection.Title }}/{{ .Title }}
{{ end }}

{{ define "main" }}
<main aria-role="main">
  {{ .Content }}

  <div class="links">
    {{ with .NextInSection }}
      <a href="{{ .RelPermalink }}">&lt; Reen</a>
    {{ else }}
      <span>&nbsp;</span>
    {{ end }}
    <a href="{{ .Site.BaseURL }}">Hejmen</a>
    {{ with .PrevInSection }}
      <a href="{{ .RelPermalink }}">Antaŭen &gt;</a>
    {{ else }}
      <span>&nbsp;</span>
    {{ end }}
  </div>
</main>
{{ end }}
