/* You can add custom styles here. */

// @import "plugins/numbered";

dl.vortlisto {
  dt {
    display: inline;
    margin: 0;
  }
  dd {
    display: none;
    margin: 0;
  }
}

#fakoj {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 0;
  li {
    display: block;
    padding: .2em 1em;
    border-radius: .3em;
  }
  li:hover {
    cursor: pointer;
    background-color: #eee;
  }
  li.active {
    background-color: #ddd;
  }
}

#radikojx ul {
  columns: 3;
  display: block;
  li {
    display: block;
  }
}

#pri {
  text-align: center;
  font-weight: bold;
}

#radikoj ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  padding: 0;
  li {
    text-align: center;
    flex: 0 0 30%;
    display: block;
    border-radius: .3em;
    padding: 0.2em;
  }
  li:hover {
    cursor: pointer;
    background-color: #eee;
  }
}
