
<div class="kontrolilo">

  <div class="stato">
    pretiĝanta
  </div>

  <form class="formo" hidden>
    <textarea name="teksto" placeholder="enigi tekston ĉie tie"></textarea>
    <button type="submit">ek</button>
    <button type="button" name="mp">malplenigi</button>
  </form>

  <div class="rezulto" hidden>
  </div>

  <div class="lavorto" hidden>
  </div>

</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  let ilo = null

  let e0 = document.querySelector('.kontrolilo')
  let eS = e0.querySelector('.stato')
  let eF = e0.querySelector('form')
  let eT = eF.querySelector('[name=teksto]')
  let eR = e0.querySelector('.rezulto')
  let eM = e0.querySelector('.lavorto')

  function pretigu(o) {
    ilo = o
    montruTeksto(eS)

    eF.addEventListener('submit', e  => {
      e.preventDefault()
      komprenu(eT.value)
    })
    eF.querySelector("[name=mp]").addEventListener('click', e  => {
      eT.value = ''
    })

    eF.hidden = false
  }

  const dividŜablono = /[^A-Za-zĉĝĥĵŝŭĈĜĤĴŜŬ]/

  function komprenu(teksto) {
    malplenigu(eR)

    let e = document.createElement('div')
    for (v of teksto.split(dividŜablono)) {
      if (v.length == 0) {
        continue
      }
      let vs = document.createElement('span')

      let divRez = ilo.komprenuVorton(v.toLowerCase())
      let bonaj = divRez.bonaj
      let malbonaj = divRez.malbonaj

      let unua = bonaj[0]
      if (!unua) {
        unua = malbonaj[0]
      }

      vs.textContent = unua.vorto
      if (bonaj.length > 1) {
        vs.textContent += ` (${bonaj.length})`
      }
      if (unua.eraro) {
        vs.title = unua.eraro.join(', ')
        vs.classList.add('warn')
      }
      vs.addEventListener('click', () => montruVorto(bonaj, divRez.malbonaj))
      e.append(vs)
      e.append(' ')
    }
    eR.append(e)
    eR.hidden = false
  }

  function montruVorto(bonaj, malbonaj) {
    malplenigu(eM)

    if (bonaj.length > 0) {
      let l = document.createElement('ol')
      for (let a of bonaj) {
        let ero = document.createElement('li')
        ero.textContent = a.vorto
        if (a.eraro) {
          ero.title = a.eraro.join(', ')
        }
        l.append(ero)
      }
      eM.append(l)
    }

    if (malbonaj.length > 0) {
      let l = document.createElement('ol')
      l.classList.add('warn')
      for (let a of malbonaj) {
        let ero = document.createElement('li')
        ero.textContent = a.vorto
        if (a.eraro) {
          ero.title = a.eraro.join(', ')
        }
        l.append(ero)
      }
      eM.append(l)
    }

    eM.hidden = false
    montru(eM)
  }

  eo('{{ print .Site.Params.VortaroURL }}').
  then(
    o => pretigu(o),
    e => montruEraro(eS, e))
})
</script>
