
<div class="kontrolilo">

  <div class="stato">
    pretiĝanta
  </div>

  <form class="formo" hidden>
    <textarea name="teksto" placeholder="enigi tekston ĉie tie"></textarea>
    <button type="submit">ek</button>
    <button type="button" name="mp">malplenigi</button>
  </form>

  <div class="rezulto" hidden>
  </div>

  <div class="lavorto" hidden>
  </div>

</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  let ilo = null

  let e0 = document.querySelector('.kontrolilo')
  let eS = e0.querySelector('.stato')
  let eF = e0.querySelector('form')
  let eT = eF.querySelector('[name=teksto]')
  let eR = e0.querySelector('.rezulto')
  let eM = e0.querySelector('.lavorto')

  function pretigu(o) {
    ilo = o
    montruTeksto(eS)

    eF.addEventListener('submit', e  => {
      e.preventDefault()
      komprenu(eT.value)
    })
    eF.querySelector("[name=mp]").addEventListener('click', e  => {
      eT.value = ''
    })

    komprenu(eT.value)
    eF.hidden = false
  }

  const dividŜablono = /[^-A-Za-zĉĝĥĵŝŭĈĜĤĴŜŬ]/

  function komprenu(teksto) {
    malplenigu(eR)

    if (!teksto) {
      eR.hidden = true
      eM.hidden = true
      return
    }

    let lasteMarkita = null
    function markuUzoj(radiko) {
      if (lasteMarkita) {
        for (let v of lasteMarkita.vortoj) {
          v.classList.remove('markita')
        }
      }
      for (let v of radiko.vortoj) {
        v.classList.add('markita')
      }
      lasteMarkita = radiko
    }

    let nivelajNombroj = new Map()
    let uzatajRadikoj = new Map()
    let malbonajVortoj = new Map()

    let eNombroj = mkel('div', { classes: [ 'nombroj' ] })
    let eTeksto = mkel('div', { classes: [ 'teksto' ] })
    let eRadikoj = mkel('div', { classes: [ 'radikoj' ] })
    let eMalbonaj = mkel('div', { classes: [ 'malbonaj' ] })

    // po unu vorto el la teksto
    for (v of teksto.split(dividŜablono)) {
      if (v.length == 0) {
        continue
      }
      let vs = mkel('span')

      let eblaVorto = ilo.komprenuVorton(v.toLowerCase())
      let unua = eblaVorto.ebloj[0]

      vs.textContent = unua.vorto

      if (!unua.eraro) {
        let bonaj = eblaVorto.ebloj.reduce((a, e) => a + (e.eraro ? 0 : 1), 0)
        if (bonaj > 1) {
          vs.textContent += ` (${bonaj})`
        }

        vs.classList.add('nivelo-' + unua.nivelo)

        let nombro = nivelajNombroj.get(unua.nivelo) || 0
        nivelajNombroj.set(unua.nivelo, nombro + 1)

        for (let x of unua.eroj) {
          let r = uzatajRadikoj.get(x.origino.nomo)
          if (!r) {
            r = {
              radiko: x.origino,
              vortoj: []
            }
            uzatajRadikoj.set(r.radiko.radiko, r)
          }
          r.vortoj.push(vs)
        }
      } else {
        vs.textContent = unua.vorto
        vs.title = unua.eraro.join(', ')
        vs.classList.add('warn')

        let nombro = nivelajNombroj.get('x') || 0
        nivelajNombroj.set('x', nombro + 1)

        malbonajVortoj.set(eblaVorto.teksto, eblaVorto)
      }

      vs.addEventListener('click', () => montruVorto(eblaVorto))
      eTeksto.append(vs, ' ')
    }

    // po unu radiko uzata
    for (let x of [...uzatajRadikoj.values()].sort((a, b) => eoCompare(a.radiko.radiko, b.radiko.radiko))) {
      let vs = mkel('span', { classes: [ 'nivelo-' + x.radiko.nivelo ] })
      vs.append(x.radiko.radiko)
      // vs.addEventListener('mouseover', e => {
      //   markuUzoj(x)
      // })
      vs.addEventListener('click', e => {
        markuUzoj(x)
        montruRadiko(x.radiko)
      })
      eRadikoj.append(vs, ' ')
    }

    // po unu nekonata vorto
    for (let x of [...malbonajVortoj.values()].sort((a, b) => eoCompare(a.teksto, b.teksto))) {
      let vs = mkel('span')
      vs.textContent = x.teksto
      vs.addEventListener('click', () => montruVorto(x))
      eMalbonaj.append(vs, ' ')
    }

    // po unu nivelo/nombro
    for (let x of [...nivelajNombroj].sort()) {
      let vs = mkel('span')
      vs.textContent = x[1]
      vs.style.flexGrow = x[1]
      if (x[0] != 'x') {
        vs.classList.add('nivelo-' + x[0])
        vs.title = 'nivelo ' + x[0]
      } else {
        vs.classList.add('warn')
      }
      eNombroj.append(vs)
    }

    eR.append(eNombroj, eTeksto, eRadikoj, eMalbonaj)

    eR.hidden = false
  }

  function montruVorto(eblaVorto) {
    malplenigu(eM)

    let l = document.createElement('ol')
    for (let x of eblaVorto.ebloj) {
      let ero = document.createElement('li')
      ero.textContent = `${x.vorto} - ${x.speco} (${x.poentoj})`
      if (!x.eraro) {
        ero.classList.add('nivelo-' + x.nivelo)
      } else {
        ero.classList.add('warn')
        ero.title = x.eraro.join(', ')
      }
      l.append(ero)
    }
    eM.append(l)

    eM.hidden = false
    montru(eM)
  }

  eo('{{ print .Site.Params.VortaroURL }}').
  then(
    o => pretigu(o),
    e => montruEraro(eS, e))
})
</script>
