
<div class="serĉilo">

  <div class="stato">
    pretiĝanta
  </div>

  <form class="formo" hidden>
    <input type="text" name="teksto" placeholder="radiko"/>
    <button type="submit">ek</button>
    <button type="button" name="mp">malplenigi</button>
  </form>

  <div class="rezulto">
  </div>

  <!--div class="ekz">
    <p class="teksto">&#x00AB; ekzemplo &#x00BB;</p>
    <p class="pri">detalo</p>
  </div-->

</div>

<script defer>
(function() {
  let radikoj = null
  let elektitaFako = null

  let e0 = document.querySelector('.serĉilo')
  let eS = e0.querySelector('.stato')
  let eF = e0.querySelector('form')
  let eT = eF.querySelector('[name=teksto]')
  let eR = e0.querySelector('.rezulto')

  function montruEraro(e) {
    console.log(e)
    montruTeksto(eS, 'err: ' + e)
  }

  function montruTeksto(e, t) {
    e.textContent = t
  }

  eF.addEventListener('submit', e  => {
    e.preventDefault()
    serĉu(eT.value)
  })
  eF.querySelector("[name=mp]").addEventListener('click', e  => {
    eT.value = ''
  })
  // eT.addEventListener('keyup', e => {
  //   serĉu(eT.value)
  // })

  function serĉu(teksto) {
    if (teksto.length == 0) {
      return
    }
    eR.removeChild(eR.firstChild)
    let trovata = []
    for (let r of radikoj) {
      if (r.radiko.startsWith(teksto)) {
        trovata.push(r)
      }
    }
    if (trovata.length > 0) {
      let l = document.createElement('ul')
      for (let t of trovata) {
        let ero = document.createElement('li')
        ero.textContent = `${t.radiko} - ${t.en} - ${t.fakoj.join(', ')}`
        l.appendChild(ero)
      }
      eR.appendChild(l)
    } else {
      eR.textContent = 'nenio'
    }
  }

  function metuRadikoj(rj) {
    radikoj = rj

    eF.hidden = false
    eR.hidden = false
    montruTeksto(eS, '')
  }

  const fonto = '{{ print .Site.Params.VortaroURL }}'

  fetch(fonto + '/radikoj.json').
  then(
    rez => rez.json(),
    montruEraro).
  then(
    metuRadikoj,
    montruEraro)
})()
</script>
