
<div class="vortaro">

  <div class="stato">
    pretiĝanta
  </div>

  <div class="tuto" hidden>

    <h2>Fakoj</h2>

    <div class="fakoj">
    </div>

    <h2>Radikoj</h2>

    <p class="pri"></p>

    <div class="radikoj">
      elektu fakon
    </div>

  </div>

  <div class="lavorto" hidden>
    <p>Radiko: <span f="r"></span></p>
    <p>Fakoj: <span f="f"></span></p>
    <p>Vidu: <span f="v"></span></p>
    <p>Angle: <span f="a"></span></p>
  </div>

</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  let ilo = null
  let elektitaFako = null

  let e0 = document.querySelector('.vortaro')
  let eS = e0.querySelector('.stato')
  let eT = e0.querySelector('.tuto')
  let eF = e0.querySelector('.fakoj')
  let eP = e0.querySelector('.pri')
  let eR = e0.querySelector('.radikoj')
  let eM = e0.querySelector('.lavorto')

  function pretigu(o) {
    ilo = o
    montruTeksto(eS)
    montruFakoj(ilo.fakoj)
    eT.hidden = false
  }

  function montruFako(e, n, p) {
    if (elektitaFako) {
      elektitaFako.classList.remove('active')
    }
    e.classList.add('active')
    elektitaFako = e

    montruTeksto(eP, p)
    malplenigu(eR)

    let l = document.createElement('ul')
    for (let r of ilo.radikoj) {
      if (r.fakoj.includes(n)) {
        let ero = document.createElement('li')
        ero.textContent = r.radiko
        let titolo = `${r.en}`
        if (r.vidu) {
          titolo += ' - vidu: ' + r.vidu
        }
        ero.title = titolo
        ero.addEventListener('click', () => montruRadiko(r))
        l.append(ero)
      }
    }
    eR.append(l)
  }

  function montruRadiko(r) {
    eM.querySelector('[f=r]').textContent = r.radiko
    eM.querySelector('[f=f]').textContent = r.fakoj.join(', ')
    eM.querySelector('[f=v]').textContent = r.vidu
    eM.querySelector('[f=a]').textContent = r.en
    eM.hidden = false
    montru(eM)
  }

  function montruFakoj(fj) {
    let l = document.createElement('ul')
    for (let f of fj) {
      let e = document.createElement('li')
      e.textContent = f.nomo
      e.title = f.pri
      e.addEventListener('click', () => montruFako(e, f.nomo, f.pri))
      l.append(e)
    }
    eF.append(l)
  }

  eo('{{ print .Site.Params.VortaroURL }}').
  then(
    o => pretigu(o),
    e => montruEraro(eS, e))
})
</script>
