
<div class="vortaro">

  <div class="stato">
    pretiĝanta
  </div>

  <div class="tuto" hidden id="#tuto">

    <div class="filtro">
      <div>
        Fako: <select class="fako" name="">
          <option value=""></option>
        </select>
      </div>
      <div>
        Fonto: <select class="fonto" name="">
          <option value=""></option>
          <option value="f">fundamenta</option>
          <option value="a">aldona</option>
          <option value="n">neoficiala</option>
        </select>
      </div>
      <div>
        Speco: <select class="speco" name="">
          <option value=""></option>
          <option value="a">abstrakta</option>
          <option value="k">konkreta</option>
          <option value="e">esperanta</option>
          <option value="n">nomo</option>
        </select>
      </div>
      <div>
        Nivelo: <select class="nivelo" name="">
          <option value=""></option>
          <option value="0" class="nivelo-0">0</option>
          <option value="1" class="nivelo-0">1</option>
          <option value="2" class="nivelo-0">2</option>
          <option value="3" class="nivelo-0">3</option>
        </select>
      </div>
      <div>
        Nombro: <span class="nombro"></span>
      </div>
    </div>

    <div class="rezulto">
      <table>
        <thead>
          <td>&nbsp;&nbsp;</td>
          <td>radiko</td>
          <td>speco</td>
          <td>fonto</td>
          <td>fakoj</td>
          <td>vidu</td>
          <td>en</td>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

  </div>

</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  let ilo = null
  let elektitaFako = null

  let e0 = document.querySelector('.vortaro')
  let eS = e0.querySelector('.stato')
  let eT = e0.querySelector('.tuto')
  let linioj = []

  function pretigu(o) {
    ilo = o
    montruTeksto(eS)
    montruFiltrilo()
    montruĈion()
    prepariFiltro()
    eT.hidden = false
  }

  let fakListo = eT.querySelector('.filtro select.fako')
  let fontListo = eT.querySelector('.filtro select.fonto')
  let specListo = eT.querySelector('.filtro select.speco')
  let nivelListo = eT.querySelector('.filtro select.nivelo')
  let nombro = eT.querySelector('.filtro .nombro')

  function montruFiltrilo() {
    for (let f of ilo.fakoj) {
      let eblo = mkel('option', { text: f.nomo })
      fakListo.append(eblo)
    }
    fakListo.addEventListener('change', prepariFiltro)
    fontListo.addEventListener('change', prepariFiltro)
    specListo.addEventListener('change', prepariFiltro)
    nivelListo.addEventListener('change', prepariFiltro)
  }

  function prepariFiltro() {
    let filtroj = []
    if (fakListo.value) {
      filtroj.push(r => r.fakoj.includes(fakListo.value))
    }
    if (fontListo.value) {
      filtroj.push(r => r.fonto == fontListo.value)
    }
    if (specListo.value) {
      filtroj.push(r => r.speco == specListo.value)
    }
    if (nivelListo.value) {
      let n = parseInt(nivelListo.value)
      filtroj.push(r => r.nivelo == n)
    }
    let n = filtri(r => {
      for (let f of filtroj) {
        if (!f(r)) {
          return false
        }
      }
      return true
    })
    nombro.textContent = n
    eT.scrollIntoView(true)
  }

  function montruĈion() {
    let tgt = eT.querySelector('.rezulto table tbody')

    for (let radiko of ilo.radikoj) {
      let linio = mkel('tr')
      linio.append(mkel('td', { classes: [ 'nivelo-' + radiko.nivelo ] }))
      linio.append(mkel('td', { text: radiko.radiko }))
      linio.append(mkel('td', { text: radiko.speco }))
      linio.append(mkel('td', { text: radiko.fonto }))
      linio.append(mkel('td', { text: radiko.fakoj.join(' ') }))
      linio.append(mkel('td', { text: radiko.vidu}))
      linio.append(mkel('td', { text: radiko.tradukoj['en'] }))
      if (!radiko.bona) {
        linio.classList.add('malbona')
      }

      tgt.append(linio)

      linioj.push({
        linio: linio,
        radiko: radiko
      })
    }
  }

  function filtri(f) {
    let taŭgaj = []
    for (let linio of linioj) {
      if (f(linio.radiko)) {
        taŭgaj.push(linio.linio)
      }
    }

    let tgt = eT.querySelector('.rezulto table tbody')
    tgt.replaceChildren(...taŭgaj)
    return taŭgaj.length
  }

  eo('{{ print .Site.Params.VortaroURL }}').
  then(
    o => pretigu(o),
    e => montruEraro(eS, e))
})
</script>
